/*-*- css-indent-offset: 2 -*-*/
/***** Mini CSS reset *****/
/* allthingssmitty.com/2017/01/09/css-reset-for-minimalists */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-indent: initial;
}
html {
  box-sizing: border-box;
}
/******************************************************************************/
/* Font: Minion 3 [https://minion.typekit.com/]
   Text    (for sizes 9pt--14pt)
   Caption (for sizes 6pt--9pt)
   Subhead (for sizes 14--24pt)
   Display (for sizes 24pt and up)
*/
/* Text Regular (weight 400) */
@font-face {
  font-family: 'Minion 3';
  src: url('fonts/minion3-regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3';
  src: url('fonts/minion3-italic.woff2');
  font-weight: normal;
  font-style: italic;
}
/* Text Medium (weight 500) */
@font-face {
  font-family: 'Minion 3';
  src: url('fonts/minion3-medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3';
  src: url('fonts/minion3-medium-italic.woff2');
  font-weight: 500;
  font-style: italic;
}
/* Text Semibold (weight 600) */
@font-face {
  font-family: 'Minion 3';
  src: url('fonts/minion3-semibold.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3';
  src: url('fonts/minion3-semibold-italic.woff2');
  font-weight: 600;
  font-style: italic;
}
/* Text Bold (weight 700) */
@font-face {
  font-family: 'Minion 3';
  src: url('fonts/minion3-bold.woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3';
  src: url('fonts/minion3-bold-italic.woff2');
  font-weight: bold;
  font-style: italic;
}
/******************************************************************************/
/* Caption Regular (weight 400) */
@font-face {
  font-family: 'Minion 3 Caption';
  src: url('fonts/minion3-caption-regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3 Caption';
  src: url('fonts/minion3-caption-italic.woff2');
  font-weight: normal;
  font-style: italic;
}
/* Caption Medium (weight 500) */
@font-face {
  font-family: 'Minion 3 Caption';
  src: url('fonts/minion3-caption-medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3 Caption';
  src: url('fonts/minion3-caption-medium-italic.woff2');
  font-weight: 500;
  font-style: italic;
}
/* Caption Semibold (weight 600) */
@font-face {
  font-family: 'Minion 3 Caption';
  src: url('fonts/minion3-caption-semibold.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3 Caption';
  src: url('fonts/minion3-caption-semibold-italic.woff2');
  font-weight: 600;
  font-style: italic;
}
/* Caption Bold (weight 700) */
@font-face {
  font-family: 'Minion 3 Caption';
  src: url('fonts/minion3-caption-bold-italic.woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Minion 3 Caption';
  src: url('fonts/minion3-caption-bold.woff2');
  font-weight: bold;
  font-style: normal;
}
/******************************************************************************/
/* Subhead Regular (weight 400) */
@font-face {
  font-family: 'Minion 3 Subhead';
  src: url('fonts/minion3-subhead-regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3 Subhead';
  src: url('fonts/minion3-subhead-italic.woff2');
  font-weight: normal;
  font-style: italic;
}
/* Subhead Medium (weight 500) */
@font-face {
  font-family: 'Minion 3 Subhead';
  src: url('fonts/minion3-subhead-medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3 Subhead';
  src: url('fonts/minion3-subhead-medium-italic.woff2');
  font-weight: 500;
  font-style: italic;
}
/* Subhead Bold (weight 700) */
@font-face {
  font-family: 'Minion 3 Subhead';
  src: url('fonts/minion3-subhead-bold.woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3 Subhead';
  src: url('fonts/minion3-subhead-bold-italic.woff2');
  font-weight: bold;
  font-style: italic;
}
/******************************************************************************/
/* Display Regular (weight 400) */
@font-face {
  font-family: 'Minion 3 Display';
  src: url('fonts/minion3-display-regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3 Display';
  src: url('fonts/minion3-display-italic.woff2');
  font-weight: normal;
  font-style: italic;
}
/* Display Medium (weight 500) */
@font-face {
  font-family: 'Minion 3 Display';
  src: url('fonts/minion3-display-medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3 Display';
  src: url('fonts/minion3-display-medium-italic.woff2');
  font-weight: 500;
  font-style: italic;
}
/* Display Semibold (weight 600) */
@font-face {
  font-family: 'Minion 3 Display';
  src: url('fonts/minion3-display-semibold.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3 Display';
  src: url('fonts/minion3-display-semibold-italic.woff2');
  font-weight: 600;
  font-style: italic;
}
/* Display Bold (weight 700) */
@font-face {
  font-family: 'Minion 3 Display';
  src: url('fonts/minion3-display-bold.woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Minion 3 Display';
  src: url('fonts/minion3-display-bold-italic.woff2');
  font-weight: bold;
  font-style: italic;
}
/******************************************************************************/
html {
  --rem: 20px;  /* root font size */
  --rlead: 1.5; /* root line height (unitless) */
  --hgrid: calc(var(--rem) * var(--rlead));
  --vgrid: calc(var(--rem) * var(--rlead));
  --cellpad: calc(var(--hgrid) * .25); /* table cell padding */

  --serif: 'Minion 3', Minion3, 'Times New Roman', TimesNewRoman, Times;
  --sans: sans-serif;
  --hilite: #00f4;

  font-size: var(--rem);
  line-height: var(--rlead);
  font-family: var(--serif);

  height: 100%; overflow-y: scroll;
}
html.DEBUG {
  /* Background grid. */
  background-image: linear-gradient(var(--hilite) 1px, transparent 1px);
  background-size:  var(--hgrid) var(--vgrid);
  background-position: 0 -1px;
}

body {
  margin: 8.5px var(--hgrid) var(--vgrid) !important;
  min-height: 100%;
}

/***** Paragraphs *****/
p { text-align: justify; }

/***** Headings *****/
hgroup > * { text-align: center; }
h1 {
  --push: calc(1em * .275); /* push down baseline to grid */
  margin-top: calc(var(--vgrid) * 2 + var(--push));
  margin-bottom: calc(var(--push) * -1);
  font-size: calc(1rem * 3);
  line-height: calc(var(--vgrid) * 3);
}
h2 {
  --push: calc(1em * .2); /* push down baseline to grid */
  margin-top: calc(var(--vgrid) * 2 + var(--push));
  margin-bottom: calc(var(--push) * -1);
  font-size: calc(1rem * 2);
  line-height: calc(var(--vgrid) * 2);
}
h3 {
  --push: calc(1em * .375); /* push down baseline to grid */
  margin-top: calc(var(--vgrid) + var(--push));
  margin-bottom: calc(var(--push) * -1);
  font-size: calc(1rem * 1.5);
  line-height: calc(var(--vgrid) * 2);
}
h1 b, h2 b, h3 b {
  font-style: italic;
}
h4 {
  margin-top: var(--vgrid);
  font-size: 1rem;
  font-weight: normal;
}
h4 + h4 { margin-top: 0; }

/***** Blockquotes *****/
blockquote {
  margin: var(--vgrid) var(--hgrid) 0;
  text-align: justify;
}

/***** Lists *****/
ol, ul {
  margin: var(--vgrid) 0 0 var(--hgrid);
}
li > ol, li > ul {
  margin-left: 0;
}

/***** Tables *****/
table {
  font-size: inherit;
  line-height: inherit;

  border-collapse: collapse;
  margin-top: var(--vgrid);
  margin-left: calc(var(--hgrid) * .75); /* with cellpadding, a whole <hgrid> */
}
table.example td:empty {
  width: var(--vgrid); /* with cellpadding, a whole <vgrid> */
}
table td,
table th {
  padding: 0 var(--cellpad);
  height: var(--vgrid);
  vertical-align: top;
  width: 1%;
}
table td:last-child,
table th:last-child {
  width: unset;
}

/***** Links ********/
a {
  text-decoration: none;
}
a:hover, a.hover, .hover > a {
  text-decoration: underline;
}
a:hover, .hover {
  cursor: pointer;
  background: var(--hilite);
}
.hover > a {
  background: none;
}

/***** Hashlink target *****/
[id].hover, :target { background: var(--hilite); }
a[id].hover, a[id]:target { outline: 5px solid var(--hilite); }
/* Margin links (added for element with 'id' attribute set). */
.linky {
  position: absolute;
  left: calc(var(--cellpad) * .5);
  user-select: none;
  vertical-align: top;
  display: inline-block;
}
.linky > div {
  vertical-align: middle;
  display: inline-block;
}
.linky a {
  display: block;
  background: left no-repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"><path d="M4.83 15h2.91a4.88 4.88 0 01-1.55-2H5a3 3 0 110-6h3a3 3 0 012.82 4h2.1a4.82 4.82 0 00.08-.83v-.34A4.83 4.83 0 008.17 5H4.83A4.83 4.83 0 000 9.83v.34A4.83 4.83 0 004.83 15z"/><path d="M15.17 5h-2.91a4.88 4.88 0 011.55 2H15a3 3 0 110 6h-3a3 3 0 01-2.82-4h-2.1a4.82 4.82 0 00-.08.83v.34A4.83 4.83 0 0011.83 15h3.34A4.83 4.83 0 0020 10.17v-.34A4.83 4.83 0 0015.17 5z"/></svg>');
  width: 20px;
  height: 20px;
  opacity: .2;
}
.linky a:hover { opacity: .75; }

/***** Subscript/superscript ********/
sup, sub {
  vertical-align: baseline;
  position: relative;
  line-height: 0;
  top: -.4em;
}
sub { top: .4em; }

/***** Table-of-contents *****/
.toc {
  margin-left: 0;                       /* don't indent 1st <ul> level */
  text-align: left;
}
.toc, .toc ul { list-style: none; }       /* no bullets */
.toc ul { margin-top: 0; }

/***** Background color for TODO notes *****/
[TODO] { background: var(--hilite); }

/*******************************************************************************
Indentation: Attributes 'indent'/'noindent' add/remove left indentation to
paragraphs. Is inherited, so you can wrap any number of paragraphs with
a <div indent>. Not inherited by tables, but can be applied directly to
<td> or <th> elements.
*/
html, tr,
[noindent] { --indent: 0em; }
[indent]   { --indent: var(--hgrid); }

/*******************************************************************************
Paragraph mode: There are three modes, controlled by the following HTML
attributes. Is inherited, so you can wrap any number of paragraphs with a <div
hanging>.

  'book'    -- separate paragraphs by indenting first line, except for first
               paragraph (default)
  'blank'   -- separated by blank lines
  'hanging' -- hanging indent (default in tables)

Tables also inherit paragraph mode, if none is specified then tables of class
'example' will default to 'hanging', while other tables will default to 'book'.
*/
html,
[book],
table,
[book] table.example {
  --paragraph-between: 0em;             /* blank line? */
  --paragraph-indent: 0em;              /* indentation */
  --text-indent-first: 0em;
  --text-indent-other: var(--hgrid);
}
[blank],
[blank] table,
[blank] table.example {
  --paragraph-between: var(--vgrid);    /* blank line? */
  --paragraph-indent: 0em;              /* indentation */
  --text-indent-first: 0em;
  --text-indent-other: 0em;
}
[hanging],
[hanging] table,
table.example {
  --paragraph-between: 0em;             /* blank line? */
  --paragraph-indent: var(--hgrid);     /* indentation */
  --text-indent-first: calc(var(--hgrid) * -1);
  --text-indent-other: calc(var(--hgrid) * -1);
}
p {
  margin-top: var(--vgrid);
  text-indent: var(--text-indent-first);
  padding-left: var(--paragraph-indent);
  margin-left: var(--indent);
}
/* Width of <td> cannot be smaller that padding-left, so empty hanging indent
   cells become too wide unless :not(:empty) is used. */
td:not(:empty), th:not(:empty) {
  text-indent: var(--text-indent-first);
  padding-left: calc(var(--paragraph-indent) + var(--indent) + var(--cellpad));
}
li {
  text-indent: var(--text-indent-first);
  padding-left: var(--paragraph-indent);
}
li > p, td > p, th > p, p + p {
  margin-top: var(--paragraph-between);
  text-indent: var(--text-indent-other);
  padding-left: var(--paragraph-indent);
}
li > p, td > p, th > p {
  /* Shift paragraph to left to negate <td> margin. */
  margin-left: calc(var(--paragraph-indent) * -1);
}

/******************************************************************************/
/* When there's no javascript */
html:not(#js) { overflow: hidden }
html:not(#js):before {
  position: absolute; right: 50%; transform: translateX(50%); z-index: 1;
  background: #ff0; padding: .25em 1em;
  font: 12px monospace; text-align: center;
  content: "Enable Javascript to prettify this Markdown.";
}
html:not(#js) textarea[disabled] {
  position: fixed; inset: 0; width: 100%; height: 100%;
  border: none; resize: none;
  color: #000;
  padding: .5em 1em;
}

small { color:#0004 }

/*[eof]*/
