/*-*- css-indent-offset: 2 -*-*/
/* Copyright 2024-2025 by zrajm. Licenses: CC BY-SA (text), GPLv2 (code). */

html { overflow: hidden }
html:before {
  position: absolute; right: 50%; transform: translateX(50%); z-index: 1;
  background: #ff0; padding: .25em 1em;
  font: 12px monospace; text-align: center;
  content: "Enable Javascript to prettify this Markdown.";
}
textarea {
  position: fixed; inset: 0;
  border: none; resize: none;
  color: inherit; background: inherit;
  padding: .5em 1em;
  white-space: pre;
}
/*[eof]*/
